@charset "UTF-8";
body {
    overflow: hidden;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    color: black;
    font-family: Tahoma, Sans-serif;
    font-size: 12px !important;
}
.menu {
    padding-top: 0.5em;
}
.menu div {
    padding: 4px;
    cursor: pointer;
}
.menu div:hover {
    background: rgba(220, 220, 220, 0.69);
}
.end {
    padding-bottom: 6px !important;
    border-bottom: 1px solid #aaa !important;
}
.on {
    color: black;
}
.off {
    color: tomato;
}

/* 
 * Template: replace en to your language code and translate all strings.
 * All non-ascii text should be properly CSS-escaped.
 *
#block_ads:lang(en) {content: 'Create general enle'}
#block_ele:lang(en) {content: 'Create accurate enle'}
#unblock_ele:lang(en) {content: 'Unblock...'}
#unblock_latest:lang(en) {content: 'Unblock latest'}
#show_preferences:lang(en) {content: 'Site preferences'}
#disable_for_site:lang(en) {content: 'Disable for the site'}
#content_block_helper:lang(en) {content: 'Content block helper'}
*/